@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    @font-face {
        font-family: Nexa;
        src: url(../fonts/NexaBold.otf);
    }
    @font-face {
        font-family: NexaL;
        src: url(../fonts/NexaLight.otf);
    }
    @font-face {
        font-family: SF;
        src: url(../fonts/SFUITextRegular.ttf);
    }
}

/* landing page */
#menu .active {
    @apply text-white bg-gradient-to-r from-primary-200 to-primary-100 py-1 px-8 rounded-lg;
}

.navItem {
    @apply inline-block focus:outline-none;
}

.fp-slidesNav.fp-bottom {
    @apply bottom-36 md:bottom-20 text-center;
}

/* builder */

.inputArea {
    @apply rounded-lg bg-light-100 w-full focus:outline-none px-3 py-2 font-skuy-primary-sub;
}

.skuyHeader {
    @apply font-skuy-primary text-dark-300 font-bold;
}

/* auth */
.inputText {
    @apply border-b-2 border-gray-500 focus:border-secondary-300 pb-1 focus:text-secondary-300 outline-none focus:outline-none !important;
}


.body-pd {
    @apply transition-width duration-500 pl-20 md:pl-64 !important;
}

.navActive {
    @apply text-white;
}

.navActive::before {
    @apply text-other absolute left-0 w-1 h-8 bg-other;
}

.nav__link {
    @apply flex items-center gap-x-4 pt-2 pr-0 pb-2 pl-4 relative text-gray-100 mb-6 transition-width duration-500 ease-out hover:text-other no-underline;
}

.show {
    @apply left-0 md:w-52;
}

/* DROPDOWN */
.dropdown-content{
    @apply hidden absolute left-10 bg-white p-3 border-0 rounded-lg w-40 overflow-auto shadow-md z-10
}
.dropBlock{
    @apply block;
}
